In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {
    "Name": ["John", "Anna", "Peter", "Linda"],
    "Age": [28, 24, 35, 32],
    "Country": ["USA", "UK", "Australia", "Germany"],
}
df = pd.DataFrame(data)

In [ ]:
# 1. Head and Tail
print("Head: \n", df.head())  # Display the first 5 rows
print("Tail: \n", df.tail())  # Display the last 5 rows

# 2. Info and Shape
print("Info: \n", df.info())  # Display information about the DataFrame
print("Shape: \n", df.shape)  # Display the number of rows and columns

# 3. Indexing and Selecting
print("Selecting rows: \n", df[1:3])  # Select rows 1 and 2
print("Selecting columns: \n", df[["Name", "Age"]])  # Select columns 'Name' and 'Age'

# 4. Sorting and Grouping
print("Sorting by Age: \n", df.sort_values(by="Age"))  # Sort the DataFrame by 'Age'
print(
    "Grouping by Country: \n", df.groupby("Country").size()
)  # Group the DataFrame by 'Country'

# 5. Merging and Joining
df2 = pd.DataFrame({"Name": ["John", "Anna", "Peter"], "Grade": ["A", "B", "A"]})
print("Merging: \n", pd.merge(df, df2, on="Name"))  # Merge the two DataFrames on 'Name'

# 6. Reshaping and Pivot Tables
print(
    "Pivot Table: \n",
    pd.pivot_table(df, values="Age", index="Name", columns="Country", aggfunc="sum"),
)  # Create a pivot table

# 7. Data Cleaning
df["Age"] = df["Age"].fillna(0)  # Replace missing values in 'Age' with 0
print("Drop duplicates: \n", df.drop_duplicates())  # Drop duplicate rows

# 8. Data Transformation
df["Age"] = df["Age"].apply(lambda x: x * 2)  # Double the values in 'Age'
print(
    "Rename columns: \n", df.rename(columns={"Name": "Full Name"})
)  # Rename the 'Name' column to 'Full Name'

# 9. Data Aggregation
print("Mean Age: \n", df["Age"].mean())  # Calculate the mean of 'Age'
print(
    "Count: \n", df["Country"].value_counts()
)  # Count the occurrences of each unique value in 'Country'

# 10. Data Export
df.to_csv("data.csv", index=False)  # Export the DataFrame to a CSV file

In [ ]:
# 11. Data Filtering
print("Filtering: \n", df[df["Age"] > 30])  # Filter rows where 'Age' is greater than 30

# 12. Data Insertion
df.insert(
    2, "City", ["New York", "London", "Sydney", "Berlin"]
)  # Insert a new column 'City'

# 13. Data Deletion
df.drop("Country", axis=1)  # Delete the 'Country' column

# 14. Data Update
df.loc[1, "Age"] = 25  # Update the 'Age' value in the second row

# 15. Data Concatenation
df3 = pd.DataFrame({"Name": ["Michael", "Sarah"], "Age": [40, 30]})
df = pd.concat([df, df3])  # Concatenate the two DataFrames

# 16. Data Melt
print(
    "Melt: \n", pd.melt(df, id_vars="Name", value_vars="Age")
)  # Unpivot the 'Age' column

# 17. Data Pivot
print(
    "Pivot: \n", pd.pivot(df, index="Name", columns="variable", values="value")
)  # Pivot the unpivoted DataFrame

# 18. Data Stack and Unstack
print("Stack: \n", df.set_index("Name").stack())  # Stack the DataFrame
print(
    "Unstack: \n", df.set_index("Name").stack().unstack()
)  # Unstack the stacked DataFrame

# 19. Data Reset Index
df.reset_index(drop=True)  # Reset the index of the DataFrame

# 20. Data to Records
print(
    "To Records: \n", df.to_records(index=True)
)  # Convert the DataFrame to a NumPy record array

In [ ]:
# 21. Data to Dictionary
print("To Dictionary: \n", df.to_dict())  # Convert the DataFrame to a dictionary

# 22. Data to List
print("To List: \n", df.values.tolist())  # Convert the DataFrame to a list

# 23. Data to NumPy Array
print("To NumPy Array: \n", df.values)  # Convert the DataFrame to a NumPy array

# 24. Data to Excel
df.to_excel("data.xlsx", index=False)  # Export the DataFrame to an Excel file

# 25. Data to HTML
print("To HTML: \n", df.to_html())  # Convert the DataFrame to an HTML table

# 26. Data to JSON
print("To JSON: \n", df.to_json())  # Convert the DataFrame to a JSON string

# 27. Data to LaTeX
print("To LaTeX: \n", df.to_latex())  # Convert the DataFrame to a LaTeX table

# 28. Data to SQL
from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory:")
df.to_sql("data", con=engine)  # Export the DataFrame to a SQL database

# 29. Data to CSV (with custom options)
df.to_csv(
    "data.csv", index=False, quoting=csv.QUOTE_NONNUMERIC
)  # Export the DataFrame to a CSV file with custom options

# 30. Data to Clipboard
df.to_clipboard()  # Copy the DataFrame to the clipboard

In [ ]:
# 31. Data Transformation (apply function)
df["Name"] = df["Name"].apply(
    lambda x: x.upper()
)  # Apply a function to the 'Name' column

# 32. Data Transformation (map function)
df["Country"] = df["Country"].map(
    {"USA": "United States", "UK": "United Kingdom"}
)  # Map values in the 'Country' column

# 33. Data Transformation (replace function)
df["Age"] = df["Age"].replace([28, 32], 30)  # Replace values in the 'Age' column

# 34. Data Transformation (clip function)
df["Age"] = df["Age"].clip(25, 35)  # Clip values in the 'Age' column to a range

# 35. Data Transformation (quantile function)
df["Age"] = df["Age"].quantile(0.5)  # Calculate the quantile of the 'Age' column

# 36. Data Transformation (rank function)
df["Age"] = df["Age"].rank()  # Rank the values in the 'Age' column

# 37. Data Transformation (duplicated function)
df = df.drop(
    df.duplicated("Name", keep="first").index
)  # Drop duplicate rows based on the 'Name' column

# 38. Data Transformation (get_dummies function)
pd.get_dummies(
    df, columns=["Country"]
)  # Create dummy variables for the 'Country' column

# 39. Data Transformation (str functions)
df["Name"] = df["Name"].str.strip()  # Strip whitespace from the 'Name' column
df["Name"] = df["Name"].str.replace(
    "John", "Jonathan"
)  # Replace values in the 'Name' column
df["Name"] = df["Name"].str.extract(
    "(\w+)", expand=False
)  # Extract the first word from the 'Name' column

# 40. Data Transformation (datetime functions)
df["Date"] = pd.to_datetime(df["Date"])  # Convert the 'Date' column to datetime
df["Date"] = df["Date"].dt.day_name()  # Extract the day name from the 'Date' column

In [ ]:
# 41. Data Reshaping (pivot_table function)
pd.pivot_table(df, values="Age", index="Name", columns="Country", aggfunc="sum")

# 42. Data Reshaping (melt function)
pd.melt(df, id_vars="Name", value_vars="Age")

# 43. Data Reshaping (stack and unstack functions)
df.stack(level=0)
df.unstack(level=0)

# 44. Data Grouping (groupby function)
df.groupby("Country")["Age"].sum()

# 45. Data Grouping (groupby with multiple columns)
df.groupby(["Country", "Name"])["Age"].sum()

# 46. Data Sorting (sort_values function)
df.sort_values(by="Age", ascending=False)

# 47. Data Sorting (sort_index function)
df.sort_index()

# 48. Data Indexing (set_index function)
df.set_index("Name")

# 49. Data Indexing (reset_index function)
df.reset_index()

# 50. Data Merging (merge function)
pd.merge(df, df2, on="Name")

In [ ]:
# 51. Data Joining (join function)
df.join(df2, on="Name")

# 52. Data Concatenation (concat function)
pd.concat([df, df2])

# 53. Data Comparison (compare function)
df.compare(df2)

# 54. Data Serialization (to_pickle function)
df.to_pickle("data.pkl")

# 55. Data Deserialization (read_pickle function)
pd.read_pickle("data.pkl")

# 56. Data Visualization (plot function)
df.plot(kind="bar")

# 57. Data Visualization (hist function)
df.hist()

# 58. Data Visualization (scatter function)
df.plot.scatter(x="Age", y="Name")

# 59. Data Visualization (boxplot function)
df.boxplot()

# 60. Data Visualization (heatmap function)
import seaborn as sns

sns.heatmap(df.corr())

In [ ]:
# 61. Data Filtering (query function)
df.query("Age > 30")

# 62. Data Filtering (loc function)
df.loc[df["Age"] > 30]

# 63. Data Filtering (iloc function)
df.iloc[df["Age"] > 30]

# 64. Data Transformation (applymap function)
df.applymap(lambda x: x**2)

# 65. Data Transformation (transform function)
df.transform(lambda x: x**2)

# 66. Data Aggregation (agg function)
df.agg(["sum", "mean", "count"])

# 67. Data Aggregation (groupby with agg function)
df.groupby("Country").agg(["sum", "mean", "count"])

# 68. Data Reshaping (crosstab function)
pd.crosstab(df["Name"], df["Country"])

# 69. Data Reshaping (pivot function)
df.pivot(index="Name", columns="Country", values="Age")

# 70. Data Serialization (to_json function)
df.to_json()

In [ ]:
# 71. Data Serialization (to_csv function)
df.to_csv("data.csv")

# 72. Data Serialization (to_excel function)
df.to_excel("data.xlsx")

# 73. Data Serialization (to_sql function)
df.to_sql("data", con=engine)

# 74. Data Serialization (to_html function)
df.to_html("data.html")

# 75. Data Serialization (to_latex function)
df.to_latex("data.tex")

# 76. Data Serialization (to_dict function)
df.to_dict()

# 77. Data Serialization (to_records function)
df.to_records()

# 78. Data Grouping (groupby with apply function)
df.groupby("Country").apply(lambda x: x**2)

# 79. Data Grouping (groupby with transform function)
df.groupby("Country").transform(lambda x: x**2)

# 80. Data Reshaping (melt with pivot function)
pd.melt(df).pivot(index="Name", columns="Country", values="Age")

In [ ]:
# 81. Data Reshaping (pivot with melt function)
df.pivot(index="Name", columns="Country", values="Age").melt()

# 82. Data Filtering (query with & and | operators)
df.query('Age > 30 & Country == "USA" | Name == "John"')

# 83. Data Filtering (loc with & and | operators)
df.loc[(df["Age"] > 30) & (df["Country"] == "USA") | (df["Name"] == "John")]

# 84. Data Filtering (iloc with & and | operators)
df.iloc[(df["Age"] > 30) & (df["Country"] == "USA") | (df["Name"] == "John")]

# 85. Data Aggregation (agg with custom function)
df.agg(lambda x: x.sum() * 2)

# 86. Data Transformation (assign function)
df.assign(NewColumn=df["Age"] * 2)

# 87. Data Transformation (transform with lambda function)
df.transform(lambda x: x**2)

# 88. Data Filtering (filter function)
df.filter(items=["Name", "Age"])

# 89. Data Filtering (query with ~ operator)
df.query('~(Age > 30 & Country == "USA")')

# 90. Data Reshaping (pivot_table with aggfunc)
pd.pivot_table(df, values="Age", index="Name", columns="Country", aggfunc="sum")

In [ ]:
# 91. Data Reshaping (melt with var_name and value_name)
pd.melt(df, id_vars="Name", var_name="Country", value_name="Age")

# 92. Data Aggregation (groupby with multiple columns)
df.groupby(["Country", "Name"])["Age"].sum()

# 93. Data Aggregation (agg with multiple functions)
df.agg(["sum", "mean", "count"])

# 94. Data Serialization (to_json with orient)
df.to_json(orient="records")

# 95. Data Serialization (to_csv with sep)
df.to_csv("data.csv", sep=";")

# 96. Data Serialization (to_excel with sheet_name)
df.to_excel("data.xlsx", sheet_name="Sheet1")

# 97. Data Serialization (to_sql with if_exists)
df.to_sql("data", con=engine, if_exists="replace")

# 98. Data Serialization (to_html with classes)
df.to_html("data.html", classes="table table-striped")

# 99. Data Serialization (to_latex with caption)
df.to_latex("data.tex", caption="Data Frame")

# 100. Data Serialization (to_dict with orient)
df.to_dict(orient="records")

In [ ]:
# 101. Data Transformation (applymap with lambda function)
df.applymap(lambda x: x**2)


# 102. Data Transformation (transform with custom function)
def transform_func(x):
    return x**2


df.transform(transform_func)

# 103. Data Filtering (query with in operator)
df.query('Name in ["John", "Anna"]')

# 104. Data Filtering (loc with conditional expression)
df.loc[df["Age"] > 30 & df["Country"] == "USA"]

# 105. Data Reshaping (pivot with aggfunc)
df.pivot(index="Name", columns="Country", values="Age", aggfunc="sum")

# 106. Data Reshaping (melt with value_vars)
pd.melt(df, id_vars="Name", value_vars=["Age", "Country"])

# 107. Data Aggregation (groupby with aggfunc)
df.groupby("Country")["Age"].agg(["sum", "mean", "count"])


# 108. Data Aggregation (agg with custom function)
def agg_func(x):
    return x.sum() * 2


df.agg(agg_func)

# 109. Data Serialization (to_json with date_format)
df.to_json(orient="records", date_format="iso")

# 110. Data Serialization (to_csv with quoting)
df.to_csv("data.csv", quoting=csv.QUOTE_NONNUMERIC)

In [ ]:
# 111. Data Serialization (to_excel with engine)
df.to_excel("data.xlsx", engine="openpyxl")

# 112. Data Serialization (to_sql with schema)
df.to_sql("data", con=engine, schema="public")

# 113. Data Serialization (to_html with border)
df.to_html("data.html", border=1)

# 114. Data Serialization (to_latex with label)
df.to_latex("data.tex", label="tab:data")

# 115. Data Serialization (to_dict with records_orient)
df.to_dict(orient="records")

# 116. Data Transformation (apply with lambda function)
df.apply(lambda x: x**2)


# 117. Data Transformation (transform with custom function)
def transform_func(x):
    return x**2


df.transform(transform_func)

# 118. Data Filtering (query with not operator)
df.query('not(Name == "John")')

# 119. Data Filtering (loc with conditional expression)
df.loc[(df["Age"] > 30) & (df["Country"] == "USA")]

# 120. Data Reshaping (pivot_table with margins)
pd.pivot_table(df, values="Age", index="Name", columns="Country", margins=True)

In [ ]:
# 121. Data Reshaping (melt with var_name and value_name)
pd.melt(df, id_vars="Name", var_name="Country", value_name="Age")


# 122. Data Aggregation (groupby with custom function)
def agg_func(x):
    return x.sum() * 2


df.groupby("Country")["Age"].agg(agg_func)

# 123. Data Aggregation (agg with multiple functions)
df.agg(["sum", "mean", "count", "std"])

# 124. Data Serialization (to_json with indent)
df.to_json(orient="records", indent=4)

# 125. Data Serialization (to_csv with line_terminator)
df.to_csv("data.csv", line_terminator="\r\n")

# 126. Data Serialization (to_excel with na_rep)
df.to_excel("data.xlsx", na_rep="N/A")

# 127. Data Serialization (to_sql with if_exists)
df.to_sql("data", con=engine, if_exists="replace")

# 128. Data Serialization (to_html with classes)
df.to_html("data.html", classes="table table-striped")

# 129. Data Serialization (to_latex with caption)
df.to_latex("data.tex", caption="Data Frame")

# 130. Data Serialization (to_dict with dict_orient)
df.to_dict(orient="dict")

In [ ]:
# 131. Data Transformation (assign with lambda function)
df.assign(NewColumn=lambda x: x**2)


# 132. Data Transformation (transform with custom function)
def transform_func(x):
    return x**2


df.transform(transform_func)

# 133. Data Filtering (query with isin operator)
df.query('Name.isin(["John", "Anna"])')

# 134. Data Filtering (loc with conditional expression)
df.loc[(df["Age"] > 30) & (df["Country"] == "USA")]

# 135. Data Reshaping (pivot with aggfunc)
df.pivot(index="Name", columns="Country", values="Age", aggfunc="sum")

# 136. Data Reshaping (melt with value_vars)
pd.melt(df, id_vars="Name", value_vars=["Age", "Country"])

# 137. Data Aggregation (groupby with aggfunc)
df.groupby("Country")["Age"].agg(["sum", "mean", "count"])


# 138. Data Aggregation (agg with custom function)
def agg_func(x):
    return x.sum() * 2


df.agg(agg_func)

# 139. Data Serialization (to_json with date_format)
df.to_json(orient="records", date_format="iso")

# 140. Data Serialization (to_csv with quoting)
df.to_csv("data.csv", quoting=csv.QUOTE_NONNUMERIC)

In [ ]:
# 141. Data Serialization (to_excel with engine)
df.to_excel("data.xlsx", engine="openpyxl")

# 142. Data Serialization (to_sql with schema)
df.to_sql("data", con=engine, schema="public")

# 143. Data Serialization (to_html with border)
df.to_html("data.html", border=1)

# 144. Data Serialization (to_latex with label)
df.to_latex("data.tex", label="tab:data")

# 145. Data Serialization (to_dict with records_orient)
df.to_dict(orient="records")

# 146. Data Transformation (applymap with lambda function)
df.applymap(lambda x: x**2)


# 147. Data Transformation (transform with custom function)
def transform_func(x):
    return x**2


df.transform(transform_func)

# 148. Data Filtering (query with not operator)
df.query('not(Name == "John")')

# 149. Data Filtering (loc with conditional expression)
df.loc[(df["Age"] > 30) & (df["Country"] == "USA")]

# 150. Data Reshaping (pivot_table with margins)
pd.pivot_table(df, values="Age", index="Name", columns="Country", margins=True)

In [ ]:
# 151. Data Reshaping (melt with var_name and value_name)
pd.melt(df, id_vars="Name", var_name="Country", value_name="Age")


# 152. Data Aggregation (groupby with custom function)
def agg_func(x):
    return x.sum() * 2


df.groupby("Country")["Age"].agg(agg_func)

# 153. Data Aggregation (agg with multiple functions)
df.agg(["sum", "mean", "count", "std"])

# 154. Data Serialization (to_json with indent)
df.to_json(orient="records", indent=4)

# 155. Data Serialization (to_csv with line_terminator)
df.to_csv("data.csv", line_terminator="\r\n")

# 156. Data Serialization (to_excel with na_rep)
df.to_excel("data.xlsx", na_rep="N/A")

# 157. Data Serialization (to_sql with if_exists)
df.to_sql("data", con=engine, if_exists="replace")

# 158. Data Serialization (to_html with classes)
df.to_html("data.html", classes="table table-striped")

# 159. Data Serialization (to_latex with caption)
df.to_latex("data.tex", caption="Data Frame")

# 160. Data Serialization (to_dict with dict_orient)
df.to_dict(orient="dict")

In [ ]:
# 161. Data Transformation (assign with lambda function)
df.assign(NewColumn=lambda x: x**2)


# 162. Data Transformation (transform with custom function)
def transform_func(x):
    return x**2


df.transform(transform_func)

# 163. Data Filtering (query with isin operator)
df.query('Name.isin(["John", "Anna"])')

# 164. Data Filtering (loc with conditional expression)
df.loc[(df["Age"] > 30) & (df["Country"] == "USA")]

# 165. Data Reshaping (pivot with aggfunc)
df.pivot(index="Name", columns="Country", values="Age", aggfunc="sum")

# 166. Data Reshaping (melt with value_vars)
pd.melt(df, id_vars="Name", value_vars=["Age", "Country"])

# 167. Data Aggregation (groupby with aggfunc)
df.groupby("Country")["Age"].agg(["sum", "mean", "count"])


# 168. Data Aggregation (agg with custom function)
def agg_func(x):
    return x.sum() * 2


df.agg(agg_func)

# 169. Data Serialization (to_json with date_format)
df.to_json(orient="records", date_format="iso")

# 170. Data Serialization (to_csv with quoting)
df.to_csv("data.csv", quoting=csv.QUOTE_NONNUMERIC)

In [ ]:
# 171. Data Serialization (to_excel with engine)
df.to_excel("data.xlsx", engine="openpyxl")

# 172. Data Serialization (to_sql with schema)
df.to_sql("data", con=engine, schema="public")

# 173. Data Serialization (to_html with border)
df.to_html("data.html", border=1)

# 174. Data Serialization (to_latex with label)
df.to_latex("data.tex", label="tab:data")

# 175. Data Serialization (to_dict with records_orient)
df.to_dict(orient="records")